<footer class="footer has-text-centered">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="columns">
        <div class="column">
          <i class="fa fa-credit-card"></i>
          <a href="{{ "/sumbangan" | relative_url }}">Sumbangan</a>
        </div>
        <div class="column">
          <i class="fa fa-github"></i>
          <a href="https://github.com/JomBelajarJava">GitHub</a>
        </div>
        <div class="column">
          <i class="fa fa-users"></i>
          <a href="https://groups.google.com/forum/#!forum/jombelajarjava">Google Groups</a>
        </div>
      </div>
      <p>
        Copyright &copy; {{ site.title | escape }} 2019
        <br/>
        <a href="{{ "/" | relative_url }}">Home</a> |
        <a href="{{ "/privacy-policy" | relative_url }}">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
