---
layout: default
---
{{- content -}}

<!-- =========
     CARDS
     ========= -->
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-3by2">
            <img class="modal-button" data-target="modal-java" src="../assets/img/study.png" alt="Gambar untuk Tutorial Java">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tutorial Java</h4>
            <p>Programming language utama di Java Virtual Machine (JVM).</p>
            <p><a href="javascript:void(0)" class="modal-button" data-target="modal-java">Baca lebih lanjut</a></p>
            <p><a class="button is-link" href="/java">Belajar Online</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-3by2">
            <img class="modal-button" data-target="modal-git" src="../assets/img/meeting.png" alt="Gambar untuk Tutorial Git">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tutorial Git</h4>
            <p>Lihat sejarah perubahan pada code anda sepanjang development.</p>
            <p><a href="javascript:void(0)" class="modal-button" data-target="modal-git">Baca lebih lanjut</a></p>
            <p><a class="button is-link" href="/git">Belajar Online</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-3by2">
            <img class="modal-button" data-target="modal-web-development" src="../assets/img/spiderweb.png" alt="Gambar untuk Tutorial Web Development">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tutorial Web Development</h4>
            <p>Belajar web development menggunakan Spring Boot, framework yang paling popular dalam Java.</p>
            <p><a href="javascript:void(0)" class="modal-button" data-target="modal-web-development">Baca lebih lanjut</a></p>
            <p><a class="button is-link" href="/webdevelopment">Belajar Online</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =========
     BOXES
     ========= -->
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon has-text-success">
              <i class="fa fa-lg fa-credit-card"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Sumbangan</h1>
              <p class="is-size-5 subtitle">
                Maklumat untuk membuat sumbangan boleh didapati <a
                href="/sumbangan">di sini</a>.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fa fa-lg fa-github"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">GitHub</h1>
              <p class="is-size-5 subtitle">
                Website Jom Belajar Java adalah terbuka. Anda boleh melihat code
                <a href="https://github.com/JomBelajarJava">di sini</a>.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fa fa-lg fa-users"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Google Groups</h1>
              <p class="is-size-5 subtitle">
                Mailing list untuk perbincangan. Anda boleh kemukakan apa-apa
                soalan <a
                href="https://groups.google.com/forum/#!forum/jombelajarjava">di
                sini</a>.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!--  ===============
     MODALS
     ===============  -->
<!-- Modal Tutorial Java -->
<div id="modal-java" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content is-tiny">
    <!-- content -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="../assets/img/study.png" alt="Gambar untuk Tutorial Java">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Tutorial Java</h4>
          <p>Tutorial ini adalah untuk sesiapa yang ingin belajar
            programming language Java. Tutorial bermula dengan topik yang
            paling asas. Tutorial ini sesuai untuk pelajar-pelajar dan
            programmer yang ingin melihat syntax Java.</p>
          <p>Tujuan tutorial ini lebih fokus kepada struktur code dalam
            aplikasi. Kita akan melihat topik-topik berkenaan dalam bab
            Database dan Code Quality.</p>
          <p>Tutorial Java adalah percuma dan boleh dibaca secara online.
            Jadi, anda boleh baca pada bila-bila masa. Tunggu apa lagi, Jom
            Belajar Java!</p>
          <p><a class="button is-link" href="/java">Belajar Online</a></p>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- end Modal Tutorial Java -->
<!-- Modal Tutorial Git -->
<div id="modal-git" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content is-tiny">
    <!-- content -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="../assets/img/meeting.png" alt="Gambar untuk Tutorial Git">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Tutorial Git</h4>
          <p>Tutorial Git ini terbuka kepada semua programmer tidak kira
            programming language mana yang digunakan. Tutorial ini sesuai
            untuk programmer yang ingin menjejaki setiap perubahan yang
            mereka lakukan semasa development.</p>
          <p>Semasa mengikuti tutorial ini, kita akan melihat asas
            penggunaan Git untuk programmer dan sekumpulan programmer. Kita
            juga akan melihat gambaran kehidupan seharian programmer di
            tempat kerja.</p>
          <p>Tutorial Git adalah percuma dan boleh dibaca secara online.
            Jadi, anda boleh baca pada bila-bila masa. Tanpa membuang masa,
            Jom Belajar Git!</p>
          <p><a class="button is-link" href="/git">Belajar Online</a></p>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- end Modal Tutorial Git -->
<!-- Modal Tutorial Web Development -->
<div id="modal-web-development" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content is-tiny">
    <!-- content -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="../assets/img/spiderweb.png" alt="Gambar untuk Tutorial Web Development">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Tutorial Web Development</h4>
          <p>Zaman sekarang boleh dikatakan semua aplikasi memerlukan akses
            ke internet, termasuklah mobile(Android), desktop, dan
            embedded(internet of things). Seperti programming language yang
            lain, kita boleh menggunakan Java untuk membina aplikasi
            web.</p>
          <p>Dalam tutorial ini, kita akan belajar cara menggunakan Spring
            Boot untuk membangunkan aplikasi web. Spring Boot ialah antara
            web framework yang paling popular untuk Java.</p>
          <p>Tutorial Web Development adalah percuma dan boleh dibaca secara
            online. Jadi, anda boleh baca pada bila-bila masa. Maka, jangan
            ketinggalan untuk menimba ilmu yang berharga ini, Jom Belajar
            Web Development!</p>
          <p><a class="button is-link" href="/webdevelopment">Belajar Online</a></p>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- end Modal Tutorial Web Development -->
